{% extends 'base.html' %}
{% block body %}
<br>
<h1>Upload your image</h1>
<br>
<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
    <div class="align-items-center">
    <div class="form-group">
      <label>Choose Your image</label>
      <input type="file" name="file" accept="image/*" multiple class="form-control-file" >
      <br>
      <br>
      <input type="submit" value="Cargar" class="btn btn-primary">
    </div>
  </div>
</form>
{% endblock %}
